
name: mi_app_personal_flutter
description: Una aplicación personal en Flutter con interfaces estáticas.
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

flutter:
  uses-material-design: true
